
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundo: #040714;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;

// Breakpoints para responsive design
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
